@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

body {
  height: 100vh;
  background: linear-gradient(black,white);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  text-align: center;
  margin-top: 20px;
  color: white;
}

.container-todo {
  width: 100%;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.container-todo input {
  width: 430px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: bisque;
  box-shadow: 0 0 10px rgb(185, 184, 184) inset;
  margin-right: 5px;
  display: inline-block;
}

.container-todo button {
  padding: 5px 15px;
  border: none;
  background-color: crimson;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.todo-list-wrapper{
  height: 300px;
  width: 500px;
  overflow: auto;
  padding: 0 5px;
}

.todo-list-wrapper::-webkit-scrollbar{
  width: 10px;
  background-color: black;
  margin-left: 5px;
  border-radius: 10px;
}

.todo-list-wrapper::-webkit-scrollbar-thumb {
  background-color: crimson;
  border-radius: 10px;
}

.todo-list-wrapper ul li{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.todo-data{
  padding: 10px;
}

.remove-btn{
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-btn i{
  color: crimson;
}